@charset "utf-8";
/* CSS Document */

#w_grid-1599787378164> div > .p_gridbox > .p_gridCell:nth-child(2):hover{
  background: -webkit-linear-gradient(top, rgba(22,71,158,.85),rgba(0,154,222,.85)) !important;
}
#w_grid-1599787378164> div > .p_gridbox > .p_gridCell:nth-child(3):hover{
  background: -webkit-linear-gradient(top, rgba(22,71,158,.85),rgba(0,154,222,.85)) !important;
}
#w_grid-1599787378164> div > .p_gridbox > .p_gridCell:nth-child(4):hover{
  background: -webkit-linear-gradient(top, rgba(22,71,158,.85),rgba(0,154,222,.85)) !important;
}
#w_grid-1599787378164> div > .p_gridbox > .p_gridCell:nth-child(5):hover{
  background: -webkit-linear-gradient(top, rgba(22,71,158,.85),rgba(0,154,222,.85)) !important;
}

#w_grid-1599786937890 #content_box-1599786937890-0:before{
content:'';
height:100%;
width:100%;
display:block;
background:-webkit-linear-gradient(top, rgba(22,71,158,.3),rgba(0,154,222,.3));
position:absolute;
}

#w_grid-1599786937890 .p_gridbox {
    background-repeat: no-repeat;
    background-position: bottom -300px center;
}

#w_fbtn-1598513650815 .p_CommonBtn:hover{
background:-webkit-linear-gradient(left, #0099dd,#114aa0 );
border:1px solid #fff;
}
#w_fbtn-1598513650815 .p_CommonBtn:hover .font{
color:#ffffff;
}
#w_fbtn-1598513650815 .p_CommonBtn:active{
background:-webkit-linear-gradient(left, #0099dd,#114aa0 );
border:1px solid #fff;
}




#w_fbtn-1600077666738 .p_CommonBtn:hover{
background:-webkit-linear-gradient(left, #0099dd,#114aa0 );
border:1px solid #fff;
}
#w_fbtn-1600077666738 .p_CommonBtn:hover .font{
color:#ffffff;
}
#w_fbtn-1600077666738 .p_CommonBtn:active{
background:-webkit-linear-gradient(left, #0099dd,#114aa0 );
border:1px solid #fff;
}



@media only screen and (max-width: 768px){
#c_portalResPublic_codeContainer-15999202053336859 .about-num {

    display: none;

  }
  
  #w_grid-1577156962809> div > .p_gridbox > .p_gridCell>.reset_style:nth-child(1) {
    text-align: left;
}
  
  
#w_grid-1599920205589 > div > .p_gridbox:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    background: #fff;
    height: 80%;
    z-index: -1;
}
  
  
}

