

<div id="w_grid-1577156962791" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577156962791-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1577156962809" class="w_grid-000" data-vhide768="true"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">      
  {eyou:modelsartlist typeid='8'} 
<div id="content_box-1577156962809-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1577156962821" class="reset_style"><div data-url="#"><p><span style="font-size:18px"><font color="#ffffff"><strong>{eyou:field name='typename' /}</strong></font></span></p>
</div></div><div id="w_grid-1577156962831" class="w_grid-000"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577156962831-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_ficon-1577156962849" class="w_ficon-001"><div class="w_ficon animated  " data-url="#">  <a class="e_link e_link-000 p_link" target="_blank" title="Address" disabled="disabled" datahref="/Home.html">   <i class="e_icon e_icon-000 p_icon" title="Address"></i>  </a> </div></div></div>         <div id="content_box-1577156962831-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_common_text-1577156962855" class="reset_style"><div><p><span style="line-height:1.6"><span style="color:#FFFFFF"><span style="font-size:14px">{eyou:global name='web_attr_8' /}</span></span></span></p>
</div></div></div>       </div>  </div></div><div id="w_grid-1577156962835" class="w_grid-000"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577156962835-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_ficon-1577156962858" class="w_ficon-001"><div class="w_ficon animated  " data-url="#">  <a class="e_link e_link-000 p_link" target="_blank" title="TEL" disabled="disabled" datahref="/Home.html">   <i class="e_icon e_icon-000 p_icon" title="TEL"></i>  </a> </div></div></div>         <div id="content_box-1577156962835-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_common_text-1577156962861" class="reset_style"><div>
<p><span style="color:#FFFFFF"><span style="font-size:14px"><span style="font-family:微软雅黑">{eyou:global name='web_attr_1' /}</span></span></span></p>
</div>
</div></div>       </div>  </div></div><div id="w_grid-1577156962840" class="w_grid-000"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577156962840-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_ficon-1577156962864" class="w_ficon-001"><div class="w_ficon animated  " data-url="#">  <a class="e_link e_link-000 p_link" target="_blank" title="PHONE" disabled="disabled" datahref="/Home.html">   <i class="e_icon e_icon-000 p_icon" title="PHONE"></i>  </a> </div></div></div>         <div id="content_box-1577156962840-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_common_text-1577156962867" class="reset_style"><div><p><span style="font-size:14px"><span style="font-family:微软雅黑"><a href="tel: 0357-8125003"><span style="color:#FFFFFF">{eyou:global name='web_attr_6' /}</span></a></span></span></p>
</div></div></div>       </div>  </div></div><div id="w_grid-1577156962844" class="w_grid-000"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577156962844-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_ficon-1577156962871" class="w_ficon-001"><div class="w_ficon animated  " data-url="#">  <a class="e_link e_link-000 p_link" target="_blank" title="E-MAIL" disabled="disabled" datahref="/Home.html">   <i class="e_icon e_icon-000 p_icon" title="E-MAIL"></i>  </a> </div></div></div>         <div id="content_box-1577156962844-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_common_text-1577156962874" class="reset_style"><div><p><span style="font-size:14px;color:#FFFFFF">{eyou:global name='web_attr_7' /}</span></p>
</div></div></div>       </div>  </div></div><div id="c_portalResPublic_websiteShare-15771576343731811" class="c_portalResPublic_websiteShare-01001"> 
<div class="row-pad">
    <div class="row">
        <div class="iShare iShare-16 share-internal"></div>
    </div>
    <div class="row">
        <div class="iShare iShare-16 share-foreign"></div>
    </div>
</div>

</div></div>         
{/eyou:modelsartlist}
<div id="content_box-1577156962809-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_grid-1577156962824" class="w_grid-000"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">
 {eyou:modelsartlist typeid='6'} 
<div id="content_box-1577156962824-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1577156962877" class="reset_style"><div data-url="#"><p><span style="font-size:18px"><span style="line-height:1"><strong><span style="color:#FFFFFF">{eyou:field name='typename' /}</span></strong></span></span></p>
</div></div><div id="c_portalResNews_list-15771569631883019" class="c_portalResNews_list-01001"> 
<div>
<div class="e_box p_Newslist" data-ename="资讯整体框架">   
        <div class="e_box p_news dialog" data-ename="资讯列表容器">
        	{eyou:arclist row='2' titlelen='25'}									
			<div class="e_box p_articles borderB_default" data-dismoveable data-foreachitem data-ename="{$field.title}" data-url="{$field.arcurl}">
	            <div class="js_coverUrlTitle item_hide">{$field.title}</div>
	            <div class="e_box p_content" data-ename="">
	                <div class="e_box p_header" data-ename="">
	                    <div class="e_box p_assist" data-ename="">
	                        <div class="e_title p_time" data-ename=""><h6 class="color_assist">{$field.add_time|MyDate='Y-m-d',###}</h6></div>
	                    </div>
	                    <!--互动信息结束-->
	                    <!--标题-->
	                    <div class="e_box p_TitleBox" data-ename="">
	                        <a href="{$field.arcurl}" class=""><h5 class="e_title p_title h5">{$field.title}</h5></a>
	                    </div>
	                    <!--标题end-->
	                </div>
	          
	            </div>
	        
			</div>
			<div class="blank background_form"></div> 
			{/eyou:arclist}
        </div>
</div>

<input type="hidden" class="requsetParam" value="&cid=1"/>
</div>
</div></div>     
{/eyou:modelsartlist}
{eyou:modelsartlist typeid='28'} 
<div id="content_box-1577156962824-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_grid-1577156962880" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577156962880-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1577156962887" class="reset_style"><div data-url="#"><h1><span style="color:#FFFFFF"><span style="font-size:18px">{eyou:field name='typename' /}</span></span></h1>
</div></div><div id="c_portalResMessage_form-15771569632085501" class="c_portalResMessage_form-01001"> 
<div class="e_box p_inquiry" data-ename="填写留言表单">
        <div class="e_wbox p_ConWBox" data-ename="弹窗内容容器">
		{eyou:guestbookform type='default'}
		<form method="POST"  {$field.formhidden} action="{$field.action}" onsubmit="{$field.submit}" class="form-horizontal d_formItemBox p_productInfoForm">
            <input type="hidden" id="categoryId" class="required" name="categoryId" value="1">
            <input type="hidden" name="compId" class="required" value="portalResMessage_form-15771569632085501">
            <input type="hidden" name="referer" class="required" value="">
            <!--联系信息-->
            <div class="e_box p_ContactInfo" data-ename="信息内容容器">
                                                <!--多行文本-->
                <div class="e_box form-group p_groupBox" data-ename="多行文本容器">
                    <label for="c_intentionIntro" class="e_title col-sm-2 control-label d_formItemTitle h5 color_normal p_intentionIntroTitle">
                        <span class="e_title d_formItemStar color_error p_intentionIntroStar">*</span>
                        留言内容：
                    </label>
                    <div class="e_text p_eqdescInput" data-ename="多行文本输入框">
                        <textarea class="InputText form-control" id='attr_9' name='{$field.attr_9}' maxlength="255" class="InputText" maxlength="1000"
                            placeholder="{eyou:lang name='enter' /}{$field.itemname_9}"  data-required="true"  tit="留言内容"></textarea>
                    </div>
                </div>


       
                <div class="e_box p_aaa">
                    <div class="e_box form-group p_PhoneBox" data-ename="手机信息区">
                        <label for="c_intentionIntro" class="e_title col-sm-2 control-label d_formItemTitle h5 color_normal p_intentionIntroTitle">
                                                        手机：
                        </label>
                        <div class="e_input p_phone" data-ename="手机输入框">
                            <input  id='attr_3' name='{$field.attr_3}' class="InputText form-control" maxlength="20" data-type="1"
                                data-subType="3" type="text"  data-required="false"  placeholder="{eyou:lang name='enter' /}{$field.itemname_3}" tit="手机">
                        </div>
                    </div>
                    <!--手机 结束-->
                </div>
                <div class="e_box form-group p_CaptchasBox" >
                    <div class="e_box form-group p_PhoneBox" data-ename="手机信息区">
                        <label for="c_intentionIntro" class="e_title col-sm-2 control-label d_formItemTitle h5 color_normal p_intentionIntroTitle">
                             邮箱：
                        </label>
                        <div class="e_input p_phone" data-ename="手机输入框">
                            <input  id='attr_5' name='{$field.attr_5}' class="InputText form-control" maxlength="20" data-type="1"
                                data-subType="3" type="text"  data-required="false"  placeholder="{eyou:lang name='enter' /}{$field.itemname_5}" tit="手机">
                        </div>
                    </div>
                    <!--手机 结束-->
                </div>
		
                <div class="e_wbox p_CoupWBox" style="margin-top:25px;">
                    <button type="submit" class="btn btn-primary submitPC p_submit" data-ename="提交按钮">{eyou:lang name='submit' /}</button>
                </div>
                <!--提交结束-->
            </div>
           {$field.hidden}
		</form>
		{/eyou:guestbookform}
    </div>
    <!--弹窗内容容器 结束-->
</div>

</div></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div>
{/eyou:modelsartlist}
<style>
.banquan a{color:#FFFFFF}
</style>
<div id="w_grid-1577156962816" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577156962816-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1577156962892" class="reset_style banquan" data-vhide768="true"><div><div>
<p style="text-align:center"><span style="font-size:14px"><span style="line-height:1.8"><span style="color:#FFFFFF">{eyou:global name='web_copyright' /}&nbsp;&nbsp;{eyou:global name='web_recordnum' /}&nbsp;&nbsp;{eyou:global name='web_garecordnum' /}{eyou:global name='web_thirdcode_pc' /}</span></span></span></p>
</div>
</div></div>
<div id="w_common_text-1611293384739" class="reset_style banquan" data-vhide100p="true" data-vhide1024="true"><div>
<div>
<p style="text-align:center"><span style="color:#FFFFFF"><span style="font-size:14px"><span style="line-height:1.8">{eyou:global name='web_copyright' /}&nbsp;&nbsp;{eyou:global name='web_recordnum' /}&nbsp;&nbsp;{eyou:global name='web_garecordnum' /}{eyou:global name='web_thirdcode_pc' /}</span></span></span></p>
<p style="text-align:center"> </p>

</div>
</div></div><div id="c_portalResPublic_codeContainer-15959012622034390" class="c_portalResPublic_codeContainer-01001"> 
<div class="e_box"></div>

<div class="right_bar" style="display: none;">
	<ul>
		<li class="rtbar_li1" style="left: 0px;"> 
			<a href="tel:0357-8125003" target="_blank"> <img src="{eyou:global name='web_templets_pc' /}/skin/picture/rtbar_tel.png" alt="电话">{eyou:global name='web_attr_1' /}</a> 
		</li>
		<li class="rtbar_li2"> 
			<a href="javascript:void(0);"> <img src="{eyou:global name='web_templets_pc' /}/skin/picture/rtbar_ewm.png" alt="二维码"> </a>
			<div class="rtbar_shwx" style="display: none;">
				<img width="160" src="{eyou:global name='web_attr_13' /}" alt="二维码" class="_full">
			</div>
		</li>
		<li class="rtbar_li3" style="left: 0px;"> 
			<a href="mailto:{eyou:global name='web_attr_7' /}"> <img src="{eyou:global name='web_templets_pc' /}/skin/picture/hc_mail.png" alt="Email">发送邮件</a> 
		</li>
		<li class="rtbar_li4 gotop"> 
			<a href=""> <img src="{eyou:global name='web_templets_pc' /}/skin/picture/rtbar_top.png" alt="top"> </a> 
		</li>
	</ul>
</div>
<style>
.right_bar{position:fixed; top:300px; right:0; width:50px; height:203px; z-index:10;}
.right_bar li{ width:62px; height:50px; z-index:20; }
.right_bar li.rtbar_li1,.right_bar li.rtbar_li4{ position:absolute; left:0;}
.right_bar li.rtbar_li1{ top:0; width:172px; }
.right_bar li.rtbar_li2{ position:absolute; top:51px; left:0; }
.right_bar li.rtbar_li3{ position:absolute; top:102px; left:0; width:126px; }
.right_bar li.rtbar_li4{ top:153px;}
.rtbar_li4{ position:absolute; top:153px; left:0;}
.right_bar li a{ display:block; color:#FFF; font-size:14px; height:50px; line-height:50px; overflow:hidden; background-color:#17479d; opacity:0.8; border-radius:6px;}
.right_bar li a img{ display:block; float:left; vertical-align:middle; width:24px; height:24px; margin:12px 12px 14px 14px;}
.right_bar li a:hover{ background-color:#0099dd; opacity:1;}
.rtbar_shwx{ display:none; position:absolute; top:-120px; left:-160px; padding-bottom:9px; }
.rtbar_shwx img{ padding:14px; background-color:#FFF; }
.right_bar{display:none;}
.rtbar_shwx{top:-50px;}
</style>
<script>
$(window).bind("scroll",function(){
    var _wTop = _winScroll = windowPos = $(window).scrollTop();
    if(_wTop>100&&window.innerWidth>1024){
		$('.right_bar').fadeIn();
    }else{
		$('.right_bar').fadeOut();
    }
});
 $('body').on('click', '.gotop', function() { $('html,body').stop(1).animate({ scrollTop: '0' }, 300); return false });
$('.right_bar li').eq(0).hover(function() {
        $(this).stop().animate({ left: -116 }, 300);
    }, function() {
        $(this).stop().animate({ left: 0 }, 300);
});
$('.right_bar li').eq(1).hover(function() {
        $(this).stop().find('.rtbar_shwx').show();
    }, function() {
        $(this).stop().find('.rtbar_shwx').hide();
});
$("div[id^='c_n']").attr("loaded","true");
</script>
</div></div>       </div>  </div></div></div>       </div>  </div></div></div>
