<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name='viewport' content='width=1440' />
<title>{$eyou.field.seo_title}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description}" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/all.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/r.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/home.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/news_lsit.css" rel="stylesheet" type="text/css" />
<meta name='viewport' content='width=1440' />
<meta http-equiv="Cache-Control" content="no-transform" />
<script type="text/javascript">
    window.siteIsPc=true;
    window.foreignList= [];
    window.tenant = {"cdnFlag":"2","createTime":null,"domain":"","domainInfo":null,"foreign":true,"id":220339,"language":"zh_CN","mobileDomain":"","mobileStatus":8,"status":6,"templateCode":"global_site_standard","tenantCode":"100001_2011275283","unittype":"100001","verify":"dc5208d213d5fc676cd5f21085b296fa","mverify":"da20d96bfa310ebf5bcb4a0194e4e793"};
    window.upgradeVersion="b142bf0401dd43ce7abb2bea2b370c8b";
    var isxinnet = "false";
    window.noredirectCookieName = "_noredirect";
    var visittrack_siteId = "100001_2011275283";
    var visittrack_url = "";
    var gatherScripts = "";
    var unittype=window.tenant.unittype ;
    window.globalObj={};
    window.globalObj.isOpenSSL = true;
</script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/all.js"></script>
<link type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css" rel="stylesheet" />
<link type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/ys.css" rel="stylesheet"/>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/swiper.min.js"></script>
<!--[if lt IE 9]> 
<script src="{eyou:global name='web_templets_pc' /}/skin/js/html5shiv.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/respond.js"></script>
<![endif]-->
</head>
<body data-pageid="41a995e1-0683-4314-8b1c-8cd5e73a36e7" data-layout="flow" data-tmplid="fe7d153b-602f-457a-9181-2b1b671cf38f">
	<div class="main pagebox">
	<div id="c_portalResnav_main-16048453281381729" class="c_portalResnav_main-01001014"> 
	{eyou:include file="header.htm" /}	
</div>
<div id="w_grid-1577071578786" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577071578786-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1579414453868" class="w_grid-000" data-tmpleditable="editable"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1579414453868-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1579414453868"><div id="c_portalResEbizads_banner-16049250621366746" class="c_portalResEbizads_banner-01001"> 
<div class="e_box  p_banner">
  <div class="bgc_img_box pc_img" style="background-image:url({$eyou.field.typeid|gettoptype=###,'litpic'}"></div>
  <div class="bgc_img_box mo_img" style="background-image:url({$eyou.field.typeid|gettoptype=###,'litpic'}"></div>
  <div class="banner_content">
        <h2 class="p_ImgHead">{$eyou.field.typeid|gettoptype=###,'typename'}</h2>
            <div class="summary">{$eyou.field.typeid|gettoptype=###,'englist_name'} </div>
      </div>
</div>
</div><div id="w_grid-1579422434307" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1579422434307-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1579422454184" class="w_grid-001"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1579422454184-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResNews_category-15794225522659146" class="c_portalResNews_category-01001"> 
<div class="NavList_a1">
	<ul class="clearfix">
		{eyou:channel type='first' row='20' currentstyle="active"}
		<li><a href="{$field.typeurl}" title="{$field.typename}" class="more {$field.currentstyle}">{$field.typename}</a></li>
		{/eyou:channel}	
	</ul>
</div>
</div></div>         <div id="content_box-1579422454184-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="c_portalResBreadcrumb_nav-15794225717728050" class="c_portalResBreadcrumb_nav-01001"> <!--homePage  首页-->
<div class="e_box e_box-000 p_breadcrumbList" data-ename="面包屑导航">
	<div class="e_breadcrumb e_breadcrumb-001 p_breadcrumbFirst">
       <span class="weizhi"><i class="iconfont"></i>{eyou:lang name='position' /}：</span>
		{eyou:position style='crumb' /}
	</div>
</div>
</div></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1604925063623" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1604925063623-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"></div>       </div>  </div></div><div id="w_grid-1579422823626" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1579422823626-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1579422841500" class="w_grid-001"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1579422841500-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResNews_list-15794228417631318" class="c_portalResNews_list-01001"> 
<div>
        <div class="newListBox">
            <div class="p_news">
                {eyou:list pagesize="10" titlelen="40"}					
				<div class="newList">
                    <div class="content">
                        <div class="leftTime">
                            <span class="newTime">{$field.add_time|MyDate='m-d',###}</span>
                            <i class="iconfont newIcon">&#xe6a7;</i>
                        </div>
                        <div class="rightC">
                            <h3 class="newTitle">
                                <a href="{$field.arcurl}" target="_self" class="newTitleLink"> {$field.title}</a>
                            </h3>
                            <article class="newMs">  {$field.seo_description|html_msubstr=###,0,100,true}</article>
                        </div>
                    </div>
                    <div class="newPicBox">
                        <a href="{$field.arcurl}" target="_self" class="newPicLink">
                        	 <img src="{$field.litpic}" title='{$field.title}' class='newPic' alt='{$field.title}' />
	                    </a>
                    </div>
                </div>
				{/eyou:list}
            </div>
            <div class="e_box e_OccupyBox-001 p_OccupyBox">
				<div class="e_pagebox e_pagebox-000 p_page">
						<div class="pre2">
						   <div class="font2"><div class="dede_pages">
						<ul>
							{eyou:pagelist listitem="index,end,pre,pageno,next" listsize="2"/}
						</ul>
					</div>            </div>
						 </div>

				</div>
				
			</div>
        </div>
	</div>
</div></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div>
{eyou:include file="footer.htm" /}
</body>
</html>