<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name='viewport' content='width=1440' />
<title>{$eyou.field.seo_title}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description}" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/all.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/r.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/home.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/yyly_details.css" rel="stylesheet" type="text/css" />
<meta name='viewport' content='width=1440' />
<meta http-equiv="Cache-Control" content="no-transform" />
<script type="text/javascript">
    window.siteIsPc=true;
    window.foreignList= [];
    window.tenant = {"cdnFlag":"2","createTime":null,"domain":"","domainInfo":null,"foreign":true,"id":220339,"language":"zh_CN","mobileDomain":"","mobileStatus":8,"status":6,"templateCode":"global_site_standard","tenantCode":"100001_2011275283","unittype":"100001","verify":"dc5208d213d5fc676cd5f21085b296fa","mverify":"da20d96bfa310ebf5bcb4a0194e4e793"};
    window.upgradeVersion="b142bf0401dd43ce7abb2bea2b370c8b";
    var isxinnet = "false";
    window.noredirectCookieName = "_noredirect";
    var visittrack_siteId = "100001_2011275283";
    var visittrack_url = "";
    var gatherScripts = "";
    var unittype=window.tenant.unittype ;
    window.globalObj={};
    window.globalObj.isOpenSSL = true;
</script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/all.js"></script>
<link type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css" rel="stylesheet" />
<link type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/ys.css" rel="stylesheet"/>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/swiper.min.js"></script>
<!--[if lt IE 9]> 
<script src="{eyou:global name='web_templets_pc' /}/skin/js/html5shiv.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/respond.js"></script>
<![endif]-->
</head>
<body data-pageid="5c8260b4-58d6-4fcc-b107-a83bc7e471d4" data-layout="flow" data-tmplid="fe7d153b-602f-457a-9181-2b1b671cf38f">
	<div class="main pagebox"><div id="c_portalResnav_main-16048453281381729" class="c_portalResnav_main-01001014"> 
{eyou:include file="header.htm" /}
</div><div id="w_grid-1577071578786" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1577071578786-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1579414453868" class="w_grid-000" data-tmpleditable="editable"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1579414453868-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1579414453868"><div id="c_portalResEbizads_banner-1613974934102" class="c_portalResEbizads_banner-01001"> 
<div class="e_box  p_banner">
  <div class="bgc_img_box pc_img" style="background-image:url({$eyou.field.typeid|gettoptype=###,'litpic'}"></div>
  <div class="bgc_img_box mo_img" style="background-image:url({$eyou.field.typeid|gettoptype=###,'litpic'}"></div>
  <div class="banner_content">
        <h2 class="p_ImgHead">{$eyou.field.typeid|gettoptype=###,'typename'}</h2>
            <div class="summary">{$eyou.field.typeid|gettoptype=###,'englist_name'} </div>
      </div>
</div>
</div><div id="w_grid-1613974934052" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1613974934052-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"></div>       </div>  </div></div><div id="w_grid-1615427127691" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615427127691-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1615427135189" class="w_grid-001"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615427135189-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResNews_category-16154271372553278" class="c_portalResNews_category-01001"> 
<div class="NavList_a1">
	<ul class="clearfix">
		{eyou:channel type='first' row='20' currentstyle="active"}
		<li><a href="{$field.typeurl}" title="{$field.typename}" class="more {$field.currentstyle}">{$field.typename}</a></li>
		{/eyou:channel}	
	</ul>
</div>
</div></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1613974934062" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1613974934062-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1613974934072" class="w_grid-001"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1613974934072-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResNews_detail-1613974934117" class="c_portalResNews_detail-01001"> 
                <div class="e_box p_NewsDetail" data-ename="资讯详情" data-infoid="23">
            <div class="e_box p_topBox">
                <div class="e_box p_header">
                    <div class="e_box p_TitleBoxA">
                        <h1 class="e_title h1 p_headA">
                            <div class="font">
                                {$eyou.field.title}
                            </div>
                        </h1>
                    </div>
                </div>
                <ul class="e_box p_dataSource borderT_default" data-ename="资讯信息">
					<li class="sort"><span class="i_sort">{eyou:lang name='classify' /}：</span><a href="{$eyou.field.typeurl}">{$eyou.field.typename} </a></li>
                    <li class="auth"><span class="i_auth">{eyou:lang name='uthor' /}：</span>{$eyou.field.author}</li>
                    <li class="source"><span class="i_source">{eyou:lang name='source' /}：</span>{$eyou.field.origin}</li>
                    <li class="date"><span class="i_pubDate">{eyou:lang name='time' /}：</span>{$eyou.field.add_time|MyDate='Y-m-d',###} </li>
					<li class="date"><span class="i_pubDate">发布时间：</span>{$eyou.field.add_time|MyDate='Y-m-d',###} </li>
                </ul>
                <p class="e_article p_summary background_info" data-ename="资讯概要信息">
                    <span><span class="i_SummaryBox">【概要描述】</span></span>
                </p>
            </div>
			{eyou:notempty name='$eyou.field.image_list' /}
            <div class="e_box p_imgsBox borderB_default" >
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"> 
                                 {eyou:volist name="$eyou.field.image_list"}
								 <div data-foreachitem class="swiper-slide">
                                    	 <img src="{$field.image_url}" class='js_thumb' title='{$field.intro}' alt='news' />
                                    <div class="e_box p_SummaryBox background_shade">
                                        <div class="e_box p_textBoxs color_horizon">
                                            <h4 class="e_title p_ImgHead color_horizon" data-ename="图片标题">{$field.intro}</h4>
                                            <p class="e_article p_ImgSummary color_horizon" data-ename="图片描述">{$field.intro}</p>
                                        </div>
                                    </div>
                                </div> 
								{/eyou:volist} 	
                     </div>
                    <div class="h2 background_default swiper-button-next swiper-button-white">
                        <i class="iconfont color_horizon">&#xe6af;</i>
                    </div>
                    <div class="h2 background_default swiper-button-prev swiper-button-white">
                        <i class="iconfont color_horizon">&#xe6b0;</i>
                    </div>
                    <div class="swiper-pagination p_pagination color_horizon h4"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                                 {eyou:volist name="$eyou.field.image_list"}
								<div data-foreachitem class="swiper-slide">
                                    <div class="p_sImgBox">
                                        	 <img src="{$field.image_url}" class='js_thumb' title='{$field.intro}' alt='news' />
	                                    </div>
                                </div>{/eyou:volist}
                    </div>

                </div>
            </div>
			{/eyou:notempty}
            <div class="e_box p_infoBox">
                <div class="e_box p_header">
                                        <div class="e_box p_TitleBoxA">
                        <h1 class="e_title p_headA h3 font_thick">
                            <div class="font">
                                <i class="iconfont"></i>
                              {$eyou.field.title}
                            </div>
                        </h1>
                    </div>
                </div>
                <p class="e_article p_summary" data-ename="资讯概要信息">
                    <span><span class="i_SummaryBox">【概要描述】</span></span>
                </p>
                <ul class="e_box p_dataSource e_box p_dataSource borderB_default" data-ename="资讯信息">
                   <li class="sort"><span class="i_sort">{eyou:lang name='classify' /}：</span><a href="{$eyou.field.typeurl}">{$eyou.field.typename} </a></li>
                    <li class="auth"><span class="i_auth">{eyou:lang name='uthor' /}：</span>{$eyou.field.author}</li>
                    <li class="source"><span class="i_source">{eyou:lang name='source' /}：</span>{$eyou.field.origin}</li>
                    <li class="date"><span class="i_pubDate">{eyou:lang name='time' /}：</span>{$eyou.field.add_time|MyDate='Y-m-d',###} </li>
					<li class="date"><span class="i_pubDate">发布时间：</span>{$eyou.field.add_time|MyDate='Y-m-d',###} </li>
                </ul>
            </div>
                        <div class="e_title p_articlesTitle" data-ename="描述标题">
                <div class="font">详情 </div>
            </div>
            <div class="e_box p_articles" data-ename="资讯详细描述">{$eyou.field.content}</div>
                        <div class="e_box p_QRCode borderT_default" data-ename="打开手机查看">
                <p class="e_title p_SaveText" data-ename="二维码引导信息"><span class="i_qrcode">扫二维码用手机看</span></p>
                <p class="e_image js_qrcode" data-ename="二维码"></p>
            </div>
            <div class="e_box d_pcDom p_PrevAndNext borderB_default" data-ename="上一篇、下一篇信息区">
                                                <div class="e_box p_previewBox"> {eyou:prenext get='pre'}
									<a href="{$field.arcurl}" title="{$field.title}">   {eyou:lang name='sys11' /}&nbsp;&nbsp;|&nbsp;&nbsp;{$field.title|html_msubstr=###,0,16}</a>  
									{eyou:else /}
									{eyou:lang name='sys11' /}：{eyou:lang name='sys10' /}
								{/eyou:prenext} </div>
                                                <div class="e_box p_nextBox">{eyou:prenext get='next'}
								<a href="{$field.arcurl}" title="{$field.title}">{eyou:lang name='sys12' /}&nbsp;&nbsp;|&nbsp;&nbsp;：{$field.title|html_msubstr=###,0,16}</a>  
								{eyou:else /}
								{eyou:lang name='sys12' /}：{eyou:lang name='sys10' /}
								{/eyou:prenext}  </div>
            </div>
            <div class="e_box p_PrevAndNextMo p_PrevAndNext borderB_default" data-ename="上一篇、下一篇信息区">
                                                <div class="e_box p_previewBox">
                     {eyou:prenext get='pre'}
									<a href="{$field.arcurl}" title="{$field.title}">   {eyou:lang name='sys11' /}&nbsp;&nbsp;|&nbsp;&nbsp;{$field.title|html_msubstr=###,0,16}</a>  
									{eyou:else /}
									{eyou:lang name='sys11' /}：{eyou:lang name='sys10' /}
								{/eyou:prenext}</div>
                                                <div class="e_box p_nextBox">
                   {eyou:prenext get='next'}
								<a href="{$field.arcurl}" title="{$field.title}">{eyou:lang name='sys12' /}&nbsp;&nbsp;|&nbsp;&nbsp;：{$field.title|html_msubstr=###,0,16}</a>  
								{eyou:else /}
								{eyou:lang name='sys12' /}：{eyou:lang name='sys10' /}
								{/eyou:prenext}
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $comp({
            params: {
                imgRelativeData: {
                    params: {                    
                        bigPicBox: 'p_img',//大图片盒子                    
                        nextPicBtn: 'p_SwitchBtnB',//大图片右按钮
                        prePicBtn: 'p_SwitchBtnA',//大图片左按钮                    
                        describeBox: 'p_SummaryBox',//图片说明盒子                    
                        curNum:'p_curNum',//描述图片中当前是第几个					
                        bigPicList:'p_imgLink',//图片链接到                    
                        describeTitle: 'p_ImgHead',//图片说明文字标题                    
                        describeText: 'p_ImgSummary',//图片说明文字描述                    
                        nextPageBtn: 'p_SwitchBtnD',//小图列表右按钮
                        prePageBtn: 'p_SwitchBtnC',//小图列表左按钮                    
                        picList: 'p_thumbnail',//小图列表图片                    
                        isCarousel: true,//是否循环显示                    
                        picNum: 4,//缩略图一屏显示个数，
                        //大图显示比例
                        imageWidth: 4,
                        imageHeight: 3,
                        //小图图显示比例
                        sImageWidth: 4,
                        sImageHeight: 3
                    }
                },
                "c_qrcode": "", //二维码地址
                "qrcodeWidth": "100", //二维码宽高
                "qrcodeHeight": "100",
                "isCheckedCustom": true, //true 检查错误图片 ，false不检查
                "defaultNoPicture": "/public/img/no-img.svg",  //错误图片时显示的图片
                "isOpenBigCutMode": true, //大图 true是裁剪 ，false是留白
                "isOpenSmallCutMode": true, //缩略图 true是裁剪 ，false是留白
                "autoPlay": false,
            }, //el等参数
            id: "portalResNews_detail-1613974934117",//实例id 服务器传
            lib: ["js/portalNews/portalResNews_detail-01"], //组件js
            noDataFlag:""
        });
    </script>
<script>$("div[id^='c_']").attr("loaded","true")</script>
</div><div id="w_grid-1613974934082" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1613974934082-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1613974934092" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1613974934092-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div>
{eyou:include file="footer.htm" /}
</body>
</html>