<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name='viewport' content='width=1440' />
<title>{$eyou.field.seo_title}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description}" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/all.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/r.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/home.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/page_impt_products_details.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<script type="text/javascript">
    window.siteIsPc=true;
    window.foreignList= [];
    window.tenant = {"cdnFlag":"2","createTime":null,"domain":"","domainInfo":null,"foreign":true,"id":220339,"language":"zh_CN","mobileDomain":"","mobileStatus":8,"status":6,"templateCode":"global_site_standard","tenantCode":"100001_2011275283","unittype":"100001","verify":"dc5208d213d5fc676cd5f21085b296fa","mverify":"da20d96bfa310ebf5bcb4a0194e4e793"};
    window.upgradeVersion="b142bf0401dd43ce7abb2bea2b370c8b";
    var isxinnet = "false";
    window.noredirectCookieName = "_noredirect";
    var visittrack_siteId = "100001_2011275283";
    var visittrack_url = "";
    var gatherScripts = "";
    var unittype=window.tenant.unittype ;
    window.globalObj={};
    window.globalObj.isOpenSSL = true;
</script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/all.js"></script>
<link type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css" rel="stylesheet" />
<link type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/ys.css" rel="stylesheet"/>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/swiper.min.js"></script>
<!--[if lt IE 9]> 
<script src="{eyou:global name='web_templets_pc' /}/skin/js/html5shiv.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/respond.js"></script>
<![endif]-->
</head>
<body data-pageid="1a7a4490-12fc-4890-8fb1-37c8c7f64627" data-layout="flow" data-tmplid="28f969fa-f938-4b6b-bb6a-6b3e8a669670">
<div class="main pagebox"><div id="w_grid-1615965413073" class="w_grid-000" data-tmpleditable="editable"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615965413073-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1615965413073"><div id="w_grid-1615969973381" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973381-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"></div>       </div>  </div></div><div id="w_grid-1615971109440" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615971109440-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResnav_main-16159711135001370" class="c_portalResnav_main-01001014"> 
{eyou:include file="header.htm" /}
</div></div>       </div>  </div></div><div id="c_portalResEbizads_banner-16159700759116846" class="c_portalResEbizads_banner-01001005"> 
<div class="bannerBox">
    <div class="swiper-container portalResEbizads_banner-16159700759116846_swiperContainer">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content">
                    <div class="picB" data-ename="Banner大图">
							 <img src="{$eyou.field.typeid|gettoptype=###,'litpic'}" alt='产品中心' class='bannerPic' />
	                </div>
                    <div class="text">
                        <p class="bannerTitle">{$eyou.field.typeid|gettoptype=###,'typename'}</p>
                        <article class="summry">{$eyou.field.typeid|gettoptype=###,'englist_name'} </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['swiper'], function () {
        var mySwiper = new Swiper('.portalResEbizads_banner-16159700759116846_swiperContainer', {
            //可选选项，自动滑动
            autoplay: 2000,
            //操作后继续轮播
            autoplayDisableOnInteraction: false,
            // 循环播放
            loop: false,
            // 滑出效果
            //effect: 'fade',
            // 前按钮
            prevButton: '#c_portalResEbizads_banner-16159700759116846 .swiper-button-prev',
            // 后按钮
            nextButton: '#c_portalResEbizads_banner-16159700759116846 .swiper-button-next',
            // slid开始滑动到结束的时间
            speed: 1200,
            // 视差效果
            parallax: true,
        })
    });
    $("div[id^='c_portalResEbizads_banner']").attr("loaded", "true");
</script>
<input class="requsetParam" type="hidden" value="" />
</div><div id="w_grid-1615969973391" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973391-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1615969973401" class="w_grid-001"><div class="w_grid ">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973401-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1615969973411" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973411-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1615969973461" class="reset_style"><div><p><span style="font-size:24px"><span style="color:#FFFFFF"><strong>{$eyou.field.typeid|gettoptype=###,'typename'}</strong></span></span></p>
</div></div></div>       </div>  </div></div><div id="c_portalResProduct_category-1615969973481" class="c_portalResProduct_category-01001"> 
<div class="categrayBox">
            <div class="moveBtn">
                {$eyou.field.typeid|gettoptype=###,'typename'}
              <i class="iconfont">&#xe6af;</i>
            </div>
            <div class="contentBox">
              <div class="backBtn">
						<i class="iconfont btn">&#xe6ae;</i>
              </div>
                <ul class="content">
                   {eyou:channel type='first' row='10' currentstyle="active"}
					<li csass="cateListBox">
                        <h3 class="yjTitle link">
                            <a class="yjLink cateName" href="{$field.typeurl}">{$field.typename}</a>
                        </h3>
                    </li>
					{/eyou:channel}
                </ul>
            </div>
        </div>
<script>
  // 通过操作   light  类名 实现高亮
 $(window).load(function () {
    var href = location.pathname + location.search;
    if (!href) return;
    $(".content .cateName").each(function (i, e) {
        var aa = $(e).attr("href");
        if (aa == href) {
            // 自身样式
            $(e).parents('.cateListBox').children('.link').addClass('light')
                .end().siblings('.cateListBox').find('.link').removeClass('light');
        }
    });
});
</script>
      <script>
            // 获取 屏幕宽度
            var domWith = $(document).width();
            console.log(domWith);
            // 点击一级下的图标
            if (domWith > 1024) {
                // 三级显示
                $('.ejLi1').hover(function () {
                    // 图标 转向
                    $(this).find('.iconfont21').addClass('icf').end()
                        .find('.sjBox1').show();
                }, function () {
                    // 图标复原
                    $(this).find('.iconfont21').removeClass('icf').end()
                        .find('.sjBox1').hide();
                })
            } else {
                // 移动端 点击出现
                $('.moveBtn').on('click', function () {
                    // 按钮隐藏
                    $(this).css({
                        'opacity': 0
                    }, 500)
                    // 内容滑出
                    $('.contentBox').animate({
                        "left": 0
                    }, 500)
                })
                // 移动端 点击收回
                $('.backBtn').on('click', function () {
                    // 按钮显示
                    $('.moveBtn').css({
                        'opacity': 1
                    }, 500)
                    // 内容收回
                    $('.contentBox').animate({
                        "left": "100%"
                    }, 500)
                })
                // 移动端二级 点击事件
                $('.iconfont2').on('click', function () {
                    // 蓝线的显示与隐藏
                    $(this).siblings('.line_right').toggleClass('line_show');
                    // 自身 三级下拉 ,其它的隐藏
                    $(this).toggleClass('jsDeg')
                        .parents('.ejLi').find('.sjBox').slideToggle().end()
                        .siblings('.ejLi').find('.sjBox').slideUp()
                        .end().find('.iconfont2').removeClass('jsDeg');
                })
            }
        </script>
</div>
{eyou:modelsartlist typeid='8'} 
<div id="w_grid-1615969973421" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973421-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1615969973466" class="reset_style"><div><p><span style="font-size:24px"><span style="color:#FFFFFF"><strong>{eyou:field name='typename' /}</strong></span></span></p>
</div></div></div>       </div>  </div></div><div id="w_grid-1615969973431" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973431-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1615969973471" class="reset_style"><div><p><span style="color:#696969"><span style="line-height:2.2"><span style="font-size:14px">{eyou:global name='web_attrname_8' /}：{eyou:global name='web_attr_8' /}</span></span></span></p>
<p><span style="line-height:2.2"><span style="font-size:14px"><span style="color:#696969">{eyou:global name='web_attrname_1' /}：</span><a href="tel:{eyou:global name='web_attr_1' /}"><span style="color:#696969">{eyou:global name='web_attr_1' /}</span></a></span></span></p>
<p><span style="line-height:2.2"><span style="font-size:14px"><span style="color:#696969">{eyou:global name='web_attrname_6' /}：</span><a href="tel:{eyou:global name='web_attr_6' /}"><span style="color:#696969">{eyou:global name='web_attr_6' /}</span></a></span></span></p>
<p><span style="line-height:2.2"><span style="font-size:14px"><span style="color:#696969">{eyou:global name='web_attrname_7' /}：</span><a href="mailto:{eyou:global name='web_attr_7' /}"><span style="color:#696969">{eyou:global name='web_attr_7' /}</span></a></span></span></p>
</div></div></div>       </div>  </div></div></div>   
{/eyou:modelsartlist}
 <div id="content_box-1615969973401-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_grid-1615969973441" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973441-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="c_portalResBreadcrumb_nav-1615969973486" class="c_portalResBreadcrumb_nav-01001"> 
<div class="e_box e_box-000 p_breadcrumbList" data-ename="面包屑导航">
	<div class="e_breadcrumb e_breadcrumb-001 p_breadcrumbFirst">
        <span class="weizhi"><i class="iconfont"></i>{eyou:lang name='position' /}：</span>
		{eyou:position style='crumb' /} > &nbsp;
	</div>

<div class="e_breadcrumb e_breadcrumb-000 p_breadcrumbCurrent">
	<div class="font">
		<span>{$eyou.field.title} </span>
	</div>
</div>
</div>
</div></div>       </div>  </div></div><div id="c_portalResProduct_detail-1615969973491" class="c_portalResProduct_detail-01001001"> 
        <div class="e_box d_ProductDetail p_ProductDetail" data-ename="产品详情框架">
          <div class="product_info">
          <div class="e_box p_imagesA c_portalResProduct_detail-1615969973491-js" data-ename="产品详情容器">
                <div class="c_portalResProduct_detail-1615969973491-imgjs" data-innerdismoveable="">
					<div class="e_box e_box-000 p_images cut picture widther" style="height: 400px; width: 600px;">
						{eyou:volist name="$eyou.field.image_list"}
						{eyou:if condition="$i =='1'"}
						<a class="e_link e_link-000 p_linkB zoom" imghref="{$field.image_url}" style="cursor: move;"><div class="e_image e_RImages-001 p_image visible" style="display: block;"><img src="{$field.image_url}" alt="{$field.intro}" putphotocls="widther"><div class="e_box e_box-003 p_zoom item_hide" style="top: 222px; left: 141.766px; width: 206.67px; height: 206.393px; display: block;"></div></div></a>
						{eyou:else /}
						<a class="e_link e_link-000 p_linkB zoom" imghref="{$field.image_url}" style="cursor: move;"><div class="e_image e_RImages-001 p_image" style="display: none;"><img src="{$field.image_url}" alt="{$field.intro}" putphotocls="widther"></div></a>
						{/eyou:if}
						{/eyou:volist}
					
					</div>
					
					<div class="e_box e_box-000 p_ThumbnailBox" style="width: 100%; left: 0px;">
						{eyou:volist name="$eyou.field.image_list"}
						<div class="e_relationimg e_NumBtn-001 p_ProRelationImg j-nav cut widther picture {eyou:eq name='$i' value='1'}active{/eyou:eq}" data-slider="{$i}" style="width: calc((100% - 20px) / 4); padding-bottom: calc(((100% - 20px) / 4) * 0.75); height: 0px;"><div class="shape"></div><div class="AtlasRelationImgBoxA second"><img src="{$field.image_url}" alt="{$field.intro}" img-width="38" img-height="30"></div></div>
						{/eyou:volist}
					
						<div class="e_switchbtn e_IconSwitchBtn-002 p_SwitchBtnC j-nav-previous"><div class="font"><i class="iconfont"></i></div></div>
						<div class="e_switchbtn e_IconSwitchBtn-002 p_SwitchBtnD j-nav-next"><div class="font"><i class="iconfont"></i></div></div>
					</div>
				</div>
            </div>
            <div class="e_box p_ProInfo" data-ename="主要信息区">
                <div class="e_box p_content borderB_dividers" data-ename="重要信息区">
                                            <div class="e_box d_ProName p_ProName" data-ename="标题区">
                            <h1 class="e_title d_Title p_Title h2" data-ename="名称">
                                <div class="font"> <i class="iconfont"></i>{$eyou.field.title} </div>
                            </h1>
                        </div>
                         <div class="e_box d_ProSummary p_ProSummary" data-ename="概要描述区">
                            <article class="e_article d_summary p_summary" data-ename="概要描述">
                               {$eyou.field.seo_description}
                            </article>
                        </div>
              
                        
        
                </div>
                <div class="e_box p_interaction" data-ename="互动按钮区">
						{eyou:type typeid='8'}
						<a href="{$field.typeurl}" target="_self">
                            <button type="button" class="btn btn-default p_inquiry " data-ename="询价按钮">{$field.typename}</button>
                        </a>
						{/eyou:type}
                        <div class="e_box d_SortName p_SortName" data-ename="分类信息区">
                            <div class="e_title d_nameD p_nameD" data-ename="分类引导标题">
                                <div class="font">所属分类</div>
                            </div>
                            <a href=" {$eyou.field.typeurl}" class="e_link d_linkA p_linkA" target="_self">
                                <div class="e_title d_sort p_sort" data-ename="分类名称">
                                    <div class="font"> <i class="iconfont"></i>{eyou:lang name='go' /}</div>
                                </div>
                            </a>
                        </div>
                                                                                                    <div class="Prodownload hide">
                    </div>
    
                </div>
            </div>
            </div>
            <div class="e_box d_DescriptionBoxA p_DescriptionBoxA " data-ename="详情信息区">
                <div class="e_box d_TabTitleBox p_TabTitleBox" data-ename="页签区">
                    <div class='e_RelationBtn d_DecTab decTab active' id="contentPage">
                        <div class="d_DecTabA p_DecTabA_1">
                            <div class="font">{eyou:lang name='description' /}</div>
                        </div>
                    </div>
                    <div class='e_RelationBtn d_SpecTab d_DecTab decTab p_SpecTab_1' id="paramPage">
                        <div class="d_SpecTabA p_SpecTabA_1">
                            <div class="font">参数</div>
                        </div>
                    </div>
                </div>
                <div class="e_box d_DescriptionBigbox p_DescriptionBigbox borderT_default" data-ename="页签内容区">
                    <div id="contentDiv" class='e_box d_DescribeContent p_DescribeContent' data-ename="描述内容区">
                            <div class='e_HtmlEditor d_description'>
									{$eyou.field.content}
                            </div>
                                            </div>
             
                                    </div>
                <div class="e_box d_nextBox p_nextBox" data-ename="翻页容器">
                                                                <div class="e_box d_nextpage p_nextpage" data-ename="上一篇容器">
                            <div class="e_title d_nextName p_nextName" data-ename="引导标题">
                               {eyou:prenext get='pre'}
									<a href="{$field.arcurl}" title="{$field.title}">   {eyou:lang name='sys11' /}&nbsp;&nbsp;|&nbsp;&nbsp;{$field.title|html_msubstr=###,0,16}</a>  
									{eyou:else /}
									{eyou:lang name='sys11' /}：{eyou:lang name='sys10' /}
								{/eyou:prenext} </div>
                                                    </div>
                        <div class="e_box d_nextpageA p_nextpageA" data-ename="下一篇容器">
                        <div class="e_title d_nextNameA p_nextNameA" data-ename="引导标题">
                            {eyou:prenext get='next'}
								<a href="{$field.arcurl}" title="{$field.title}">{eyou:lang name='sys12' /}&nbsp;&nbsp;|&nbsp;&nbsp;：{$field.title|html_msubstr=###,0,16}</a>  
								{eyou:else /}
								{eyou:lang name='sys12' /}：{eyou:lang name='sys10' /}
								{/eyou:prenext} </div>
                                            </div>
                </div>
            </div>
            <div class="e_box d_masker-wp p_masker-wp hide">
                <div class="masker"></div>
                <div class="e_box d_agreement p_agreement animate">
                    <div class="e_box d_top p_top">
                        <div class="e_title d_Close p_Close">
                            <div class="font">
                                <i class="iconfont"></i>
                            </div>
                        </div>
                    </div>
                    <div class="e_title d_text p_text" id="KeyShotVR">
                    </div>
                </div>
            </div>
        </div>
        <div class="e_PopupWindowBox p_PopupWindow" data-ename="弹窗容器"></div>
    <div class="e_box p_shade" data-ename="遮罩容器"></div>
            <input type="hidden" value='{"specs":[],"skus":[{"id":187,"useViewType":false,"productId":85,"templateId":1,"code":"","name":"陶瓷砂（氧化锆珠，硅酸锆珠）","stock":0,"price":0.00,"retailPrice":0.00,"weight":0.00,"status":"1","isDefault":"1","createDate":"2021-03-26 15:52:23","updateDate":"2021-03-26 15:52:23","productSkuSpecs":[],"moq":1,"skuId":0,"chargedWeight":0.00}],"specConfs":[]}' id="product-skuDetail">
    <div class="videolist hide">
        <input class="videoUrl" type="hidden" value="" data-url="">
        <input class="videoTitle" type="hidden" value=''>
    <input class="videoImgSrc" type="hidden" value=''>
</div>
<style type="text/css" media="screen">
    .panel {
        width: 280px;
        left: 70%;
    }
    #easy_zoom {
        width: 500px;
        height:500px;
        border: 1px solid #eee;
        background: #fff;
        color: #333;
        position: absolute;
        top: 60px;
        left: 400px;
        overflow: hidden;
        -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        /* vertical and horizontal alignment used for preloader text */
        line-height: 400px;
        text-align: center;
        z-index: 999;
    }
</style>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/keyshotvr.js"></script>
    <script type="text/javascript">
        $comp({
            imageJson:'{"tagList":[],"navs":[{eyou:volist name="$eyou.field.image_list"}{"path":"{eyou:global name='web_cmsurl' /}{$field.image_url}","smallPath":"{eyou:global name='web_cmsurl' /}{$field.image_url}","bigH":null,"bigW":null,"srcBigPic":"{eyou:global name='web_cmsurl' /}{$field.image_url}","smallH":30,"smallW":38,"title":"{$field.intro}"}{neq name='$i' value='$__LIST__|count=###'},{/neq}{/eyou:volist}]}',
            textParams:{
                isCutOfName:true,//标题是否自动截取超长显示内容
                linesOfCutOfName:1,//标题超出隐藏的行数设置
                isCutOfSummary:true,//概述是否自动截取超长显示内容
                linesOfCutOfSummary:2,//概述超出隐藏的行数设置
                productSummary:true,//基本信息概述是否自动截取超长显示内容
                productSummaryMaxLen:2//基本信息概述超出隐藏的行数设置
            },
            textParams: {
            },
            picParams: {
                isOpenCutMode: true, //是否开启裁剪 不开启false
                isRate: true, //是否按比例裁剪
                widthOfRate: 4, //宽度的比率
                heightOfRate: 3, //高度的比率
                definedDefaultImage: false, //是否设置默认图片
                defaultImage: "", //设置默认图片的路径
                appId: 2
            },
            id: "portalResProduct_detail-1615969973491",
            appId: "2",
            proName: "陶瓷砂（氧化锆珠，硅酸锆珠）",
            productCoverImgUrl: '{$eyou.field.litpic}',
		    product: "true",
            retailPrice: '0.0',
            stock: "0",
            moq: "1",
            es_TagBox:"",
            TagBox:"true",
            TagBox_isHD:"false",
            TagBox_isCut:"true",
            imageWidth:"600",
            imageHeight:"400",
            images_isHD:"false",
            images_isCut:"true",
            ThumbnailBox:"true",
            ThumbnailBox_defWidth:"4",
            ThumbnailBox_defHeight:"3",
            ThumbnailBox_column:"4",
            ThumbnailBox_isHD:"false",
            ThumbnailBox_isCut:"true",
            easy_Zoom:"true"=="true"?true:false,
            "TabDecTab": 'true',
            c_qrcode:"60506f0052a32LuPe14",
		    "qrbuyUrl": "",
            "qrbuyUrlWidth": "100",
            "qrbuyUrlHeight": "100",
            "qrcodeWidth": "255",
            "qrcodeHeight": "225",
            inquiryPopupWindow: {
                animationEffect: "1",
                animationTimeLong: "500",
                popupState: "1",
                popupWidth: "850",
                popupName: "productInquiry",
                popupHeight: "600"
            },
            numberErrorTip: "请输入正确数量",
            errtips: {
                oneTip: "已成功加入购物车",
                twoTip: "商品库存不足，已成功加入购物车",
                fourTip: "产品暂时无货！",
                zeroTip: "添加失败",
                downShopTip: "此商品已下架",
                noStock: '暂时无货',
                smallStock1: '最少起订量为',
                smallStock2: '，库存不足',
            },
            isMock: "false",
            productId: "85",
            aBuyHref: "",
            aBuyTarget: "",
            fileTips:{
                downSuccess: "下载成功",//下载成功提示
                downFail: "下载失败",//下载失败提示
                getFileId: "获取文件ID失败！"//下载时无文件ID提示
            },            
            lib: ["js/portalProduct/portalResProduct_detail-01"]
        });
    </script>
<script>$("div[id^='c_']").attr("loaded","true")</script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</div><div id="w_grid-1615969973451" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1615969973451-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div>
{eyou:include file="footer.htm" /}
</div>       </div>  </div></div></div>
</body>
</html>